@bar-height: 130px;
@note-height: @bar-height / 13;
div[timeline]{
  position: relative;
  width: 100%;
  height: @bar-height;
  background-color: lighten(grey, 20%);
  .bar{
    position: relative;
    display: inline-block;
    height: 100%;
    &::after{
      content: "";
      display: inline-block;
      float: right;
      width: 1px;
      height: 100%;
      background-color: black;
    }
    &:first-child::before{
      content: "";
      display: inline-block;
      float: left;
      width: 1px;
      height: 100%;
      background-color: black;
    }
  }
  .play-cursor{
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: red;
  }
  .note{
    position: absolute;
    top: -(@note-height/2);
    width: 15px;
    height: @note-height;
    background-color: green;
  }
}
